<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- links css file -->
</head>
<body>
    <form action={{ url_for('history') }} method="post">
        <input type="submit" value="view history">
    </form>
    {%with message = get_flashed_messages() %}
        {% if message %}
            <l1>{{ message }}</l1>
        {% endif %}
    {% endwith %}
    <h1>Checkout</h1>
    {% if cart %}
        <ul>
        {% for items, details in cart.items() %}
            <li>{{ items }} - Quantity: {{ details['quantity'] }} - Total: ${{ details['quantity'] * flowers[items]['price'] }}
                <a href="{{ url_for('remove_from_cart', items=items) }}">Remove</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    {% if selected_addons %}
        <ul>
        {% for addon, price in selected_addons.items() %}
            <li>{{ addon }} - Price: ${{ price }}</li>
        {% endfor %}
        </ul>  
    {% else %}
        <p>Your extras is empty.</p>
    {% endif %}

    <h1>Total: ${{ '%.2f' % total }}</h1>
    <form action={{ url_for('index1') }} method="post">
        <input type="submit" value="keep Shopping">
    </form>

    <form action={{ url_for('clear_cart') }} method="post">
        <input type="submit" value="Clear Cart">
    </form>
    <form action={{ url_for('check') }} method="post">
        <input type="text" name="customer_name" id="customer_name_checkout" placeholder="Enter your name" required>
        <input type="submit" value="Checkout/view invoices">
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>